@{
    ViewBag.Title = "Home";
}

@*<h2>Home</h2>*@

<div class="drawingArea">
    <div class="row">
        <div class="span4">
            <p>Canvases available</p>
            <div class="btn-group canvases-select">
                <select class="form-control canvases-list"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="paint-tools-header">
                <p>Tools</p>
            </div>
            <div class="paint-tools">
                <a class="tool-curve" href="javascript:void(0);" title="Free line">
                    <img src="~/Content/icons/chart-line-variant.svg"/>
                </a>
                <a class="tool-line" href="javascript:void(0);" title="Line">
                    <img src="~/Content/icons/vector-line.svg"/>
                </a>
                <a class="tool-arrow" href="javascript:void(0);">
                    <img src="~/Content/icons/arrow-top-right.svg" title="Arrow"/>
                </a>
                <a class="tool-circle" href="javascript:void(0);" title="Circle">
                    <img src="~/Content/icons/circle.svg" />
                </a>
                <a class="tool-square" href="javascript:void(0);" title="Rectangle">
                    <img src="~/Content/icons/square.svg" />
                </a>
                <a class="tool-text" href="javascript:void(0);" title="Text">
                    <img src="~/Content/icons/format-color-text.svg" />
                </a>
                <a class="tool-eraser" href="javascript:void(0);" title="Eraser">
                    <img src="~/Content/icons/eraser.svg" />
                </a>
            </div>
        </div>
        <div class="span4">
            <div class="paint-thick-header">
                <p>Thickness</p>
            </div>
            <div class="paint-thick">
                <input class="thick-slider" type="text"/>
            </div>
        </div>
        <div class="span1 fill-color-span">
            <div class="paint-fill-color-header">
                <p>Color</p>
            </div>
            <div class="paint-fill-color">
                <input type="text" class="fill-color" style="display: none"/>
                <span class="input-group-addon selected-color">
                    @*<img src="~/Content/icons/format-color-fill.svg" />*@
                    <i style="background-color: #000;"></i>
                </span>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <canvas id="main-canvas" class="canvas-element"></canvas>
        </div>
    </div>
</div>



